/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-color: white;

}

.board {
  background-color: #8E726A;
  margin: 0 auto;
}

.mouse {
color: red;  
}
